<h1>Todos mis animes chinos</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  
  {{#each myAnimes}}
  <div class="col">
    <div class="card">
      <img src="{{img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <hr>
        <p class="card-text">{{description}}</p>
      </div>
    </div>
  </div>
{{/each}}

  
  
  
</div>